.main {
    background-color: #2e2e2e;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    color: #fff;
}

.border {
    border: 1px solid #56e034;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    min-width: 300px;
    display: flex;
    gap: 1.5rem;
}